*{
    box-sizing: border-box;
}

html{
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/** Navigation settings*/
.navbar{
    margin-bottom: 0px !important;
}
.navbar .brand a img{
    margin-top: -3.7%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
    margin-left: 10px;
    margin-top: -70px;
}
.navbar .navbar-toggle{
    position: absolute;
    top: 1%;
    left: 86%;
    transform: translate(-85% -5%);
}
.navbar .navbar-collapse .nav-item a{
    color:white;
}
.navbar .navbar-collapse .nav-item a:hover{
    color:rgb(104, 172, 90);
}

/** Contact us */
.Contact-us{
    background-color: rgb(78, 78, 78);
    height: 1250px;
}

.Contact-us .item{
    margin-top: 100px;
    background-color: transparent;
    margin-left: 5%;
}
.Contact-us .communicate{
    color: rgb(255, 255, 0);
   
    margin-left: 12%;
    transform: translateX(-12%);
    list-style: none;
}
.Contact-us .communicate span{
    margin-right: 20px;
}
.Contact-us .communicate li{
    margin-top: 20px;
}
.Contact-us .icon1{
    color: rgb(59, 142, 250);
}
.Contact-us .icon2{
    color: rgb(192, 112, 7);
}

.Contact-us .icon3{
    color: rgb(255, 0, 0);
}
.Contact-us .icon4{
    color: rgb(21, 255, 0);
}
.Contact-us .icon5{
    color: rgb(255, 255, 255);
}
.Contact-us .send{
    display: block;
}
.Contact-us .mail, .text, .name, .surname, .p_number, .item1{
    margin-bottom: 25px;
    margin-top: 15px;
    display: flex;
}
.Contact-us #mail_1, #name_1, #surname_1, #p_number_1{
    text-align: right;
    flex: 1;
    margin-right:3%;
    margin-top: 1%;
    color: greenyellow;
}
.Contact-us #mail_2, #name_2, #surname_2, #p_number_2{
    flex: 3;
    border-radius: 10px;
}
.Contact-us #send-btn{
    border-radius: 6px;
    margin-top: 30px;
    float:right;
    color: greenyellow;
    background-color: brown;
}
.Contact-us #send-btn:hover{
    background-color: rgb(204, 83, 83)
}
.Contact-us .btn-map{
    margin-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 35%;
    border-radius: 6px;
    height: 40px;
    background-color: rgb(60, 40, 92);
    color: gold;
}
.Contact-us .btn-map:hover{
    background-color: rgb(100, 68, 151);
    box-shadow: 0px 5px 0px 0px rgb(252, 252, 151);
    color: gainsboro;
}
.Contact-us .btn-map:visited{
    color: gold;
}
.Contact-us .btn-map .glyphicon{
    float: left;
    color: greenyellow;
}
.Contact-us .map-comment{
    margin-top: 100px;
    display: flex;
}
.Contact-us .map{
    flex-direction: row;
    flex: 1;
}
.Contact-us .comment{
    margin-left: 3%;
    flex-direction: row;
    flex: 1;
}
.Contact-us h4{
    margin-bottom: 50px;
    color: aquamarine;
    margin-left: 58%;
    transform: translateX(-58%);
}
.Contact-us #text-area-label{
    float: right;
    color: greenyellow;
    margin-right: 15px;
}
.Contact-us .text-area{
    width: 35em;
    resize: none;
}
.Contact-us .send-button{
    margin-left: 70%;
    transform: translateX(-70%);
    width: 20%;
}
.Contact-us .map-comment .map #map_settings{
    visibility: hidden;
    border: 2px solid black;
    width: 100%;
    height: 200%;
}
/** Footer */
.footer{
    background-color:rgb(54, 53, 53);
}
.footer .item{
    margin-top: 80px;
    color: white;
}
.footer .item h6{
    font-size: 1.3em;
    text-align: center;
    color: rgb(58, 255, 101);
    margin-bottom: 20px;
}
.footer .item p{
    word-spacing: 3.3px;
    color: rgb(139, 172, 63);
}
.footer .item .text{
    text-align: justify;
    margin-right: 15px;
}
.footer .item .icons{
    text-align: center; 
    margin-top: 20px;
}
.footer .item .fab{
    padding-top: 5px;
    padding-right: 20px;
}
.footer .item ul{
    list-style: none;
    color: white;
}
.footer .item .communicate li{
    padding: 10px;
    color: white;
}
.footer .item ul .glyphicon{
    padding-right: 15px;
}
.footer #time{
    margin-left: 45%;
    transform: translateX(-45%);
    margin-top: 0% !important;
    color: rgb(58, 255, 101);;
}
.footer .time-table{
    margin-top: 10px;
}
.footer .time-table li{
    text-align: justify;
    padding: 10px;
    color: yellow;
}
.footer #instagram{
    color: rgba(223, 219, 8, 0.603)
}
.footer #youtube{
    color: rgb(207, 44, 44);
}
.footer a i:hover{
     transform: scale(1.2);
     transition: transform 0.2s;
     opacity: 0.8;
 }




@media screen and (max-width:1000px) {
    /** Contact-us */
    .Contact-us{
        height: 1600px;
    }
    .Contact-us .send{
        margin-left: -15%;
    }
    .Contact-us .text-area{
        width: 20em;
        resize: none;
    }
}

@media screen and (max-width: 768px) {
    /** Navbar settings */
    .navbar .brand a img{
        margin-top: -7%;
        margin-left: 50%;
        transform: translate(-50% 7%);
    }
    /** Contact-us */
    .Contact-us{
        height: 1450px;
    }
    .Contact-us .send{
        margin-left: -9% !important;
    }
    .Contact-us .map-comment{
        margin-top: 100px;
        display: block;
    }
    .Contact-us .map{
        margin-top: 50px;
    }
    .Contact-us .comment{
        margin-left: 3%;
    }
    .Contact-us .text-area{
        width: 35em;
        resize: none;
    }
    .Contact-us .map-comment .map #map_settings{
        visibility: hidden;
        border: 2px solid black;
        width: 100%;
        height: 300px;
    }
    /** Footer */
    .footer #time{
        align-items: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 0% !important;
        color: rgb(58, 255, 101);;
    }
}

@media  screen and (max-width:500px) {
    /** Navbar settings */
    .navbar .brand a img{
        margin-top: -15%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}